firmware/.vscode/
firmware/build/
HardwareDesign/PCB/History/
pcb/History
build-*
pcb/Project*
pcb/__Previews
software/.vs/
pcb/History
firmware/Debug
*.log
software/*.XML
*.exe
*.pdb
*.manifest
software/usbcommand/bin/Release/
software/usbcommand/obj/
*.user

